@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
  --color-cst-primary: #760948;
  --color-cst-secondary: #0ac6c3;
  --color-cst-green: #097645;
  --color-cst-primary-light: #dc1186;

  --color-cst-neutral-00: #ffffff;
  --color-cst-neutral-01: #f2f2f2;
  --color-cst-neutral-02: #e6e6e6;
  --color-cst-neutral-03: #d9d9d9;
  --color-cst-neutral-04: #cccccc;
  --color-cst-neutral-05: #bfbfbf;
  --color-cst-neutral-06: #b3b3b3;
  --color-cst-neutral-07: #a6a6a6;
  --color-cst-neutral-08: #999999;
  --color-cst-neutral-09: #8c8c8c;
  --color-cst-neutral-10: #808080;
  --color-cst-neutral-11: #20202d;
  --color-cst-neutral-12: #2a2a3c;
  --color-cst-neutral-13: #242429;
  --color-cst-neutral-14: #111113;
}

@theme inline {
  --color-cst-primary: var(--color-cst-primary);
  --color-cst-secondary: var(--color-cst-secondary);
  --color-cst-green: var(--color-cst-green);
  --color-cst-primary-light: var(--color-cst-primary-light);

  --color-cst-neutral-00: var(--color-cst-neutral-00);
  --color-cst-neutral-01: var(--color-cst-neutral-01);
  --color-cst-neutral-02: var(--color-cst-neutral-02);
  --color-cst-neutral-03: var(--color-cst-neutral-03);
  --color-cst-neutral-04: var(--color-cst-neutral-04);
  --color-cst-neutral-05: var(--color-cst-neutral-05);
  --color-cst-neutral-06: var(--color-cst-neutral-06);
  --color-cst-neutral-07: var(--color-cst-neutral-07);
  --color-cst-neutral-08: var(--color-cst-neutral-08);
  --color-cst-neutral-09: var(--color-cst-neutral-09);
  --color-cst-neutral-10: var(--color-cst-neutral-10);
  --color-cst-neutral-11: var(--color-cst-neutral-11);
  --color-cst-neutral-12: var(--color-cst-neutral-12);
  --color-cst-neutral-13: var(--color-cst-neutral-13);
  --color-cst-neutral-14: var(--color-cst-neutral-14);
}
